* {
  margin: 0;
  padding: 0;

  /* font-weight: 400;
  font-size: 16px; */
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
body {
  width: 100dvw;
  display: flex;

  align-items: center;
  flex-direction: column;
}
body p {
  font-size: 14px;

  font-weight: 200;
}
header {
  display: flex;
  width: 100dvw;
  height: 70px;

  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid black; */
}
header h1 {
  margin-left: 50px;
  font-family: "Oswald", sans-serif;
  color: #10282c;
  font-weight: 400;
}
nav {
  display: flex;
  gap: 30px;
  text-decoration: none;
  align-items: center;
  margin-right: 30px;
}
nav a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.button {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #021318;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.box {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
  gap: 30px;

  color: azure;

  flex-direction: column;
}
.section5 {
  background-color: #071d21;
}
.section3 {
  height: 150dvh;
}

.title {
  font-size: 4rem;
  color: #021318;
  text-transform: capitalize;
}
.Home {
  display: flex;
  width: 90dvw;
  align-items: center;
  justify-content: space-between;
}
.contain_1 {
  align-items: start;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100dvw;
  justify-self: center;
}
.myName {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 3rem;
  gap: 20px;
  align-items: center;
}
.name {
  color: #10282c;
}

.contain_1 h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
}
.contain_1 p {
  width: 500px;
}

.about {
  align-items: start;
  display: flex;
  padding: 30px;
  border-radius: 10px;

  gap: 40px;
}
.about img {
  width: 300px;
  height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;

  border-radius: 10px;
}
.contain1 {
  display: flex;
  width: 500px;
  height: 400px;
  padding: 30px;
  background-color: #fff;
  color: #021318;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-direction: column;
  gap: 20px;
}

.work {
  width: 800px;
  align-items: center;
  display: flex;
  color: #021318;
  flex-direction: column;
  gap: 30px;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
}
.pro {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 250px;
  margin: 20px;
  border-radius: 10px;
}
.pro_contain {
  width: 230px;
  height: 80px;
  background-color: #10282c;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  gap: 10px;
  color: white;
}

.service {
  align-items: center;
  display: flex;

  justify-content: center;
  gap: 30px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 250px;
  border-radius: 10px;

  padding: 30px;
  height: 200px;
  display: flex;
  gap: 20px;

  flex-direction: column;
  text-align: left;
}
.card1 {
  background-color: #021318;
}
.card2 {
  background-color: #071d21;
}
.card3 {
  background-color: #10282c;
}
.card h1 {
  font-size: 20px;
  margin: 1px;
  border-bottom: 2px solid white;
  text-transform: uppercase;
}
.contact {
  display: flex;
  width: 100dvw;
  justify-content: start;
}
.image {
  width: 70dvw;
  height: 100dvh;
  background-image: url("Blue\ White\ One\ Photo\ Night\ Sky\ Desktop\ Wallpaper.png");
  background-size: cover;
  background-color: antiquewhite;
}
.contain {
  width: 20dvw;
  display: flex;
  padding: 35px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.contain h1 {
  width: 250px;
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
}
.contain input {
  padding: 15px;
  width: 250px;
}
.contain select {
  width: 280px;
  padding: 30px;
  padding: 15px 15px 15px 15px;
}
.contain option {
  margin: 20px;
}
.contain button {
  width: 280px;
  margin-top: 50px;
  color: #fff;
  background-color: #468189;
  padding: 15px 15px 15px 15px;
  transition: 0.4s;
}
button :hover {
  background-color: #558e9b;
}

.foot {
  height: 70px;
  text-transform: capitalize;
  display: flex;
  text-align: center;
  background-color: #10282c;
  width: 100dvw;
  justify-content: center;
  color: white;
  align-items: center;
}
