* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #000000;
  --secondary-color: #121212;
  --text-color: #fff;
  --card-color: #141414;
}
.dark-theame {
  --primary-color: #fff;
  --secondary-color: #f8f8f8;
  --text-color: #000;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100dvw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: 14px;
  color: var(--text-color);
  line-height: 20px;
  font-weight: 200;
}
header {
  display: flex;
  width: 100dvw;
  height: 90px;
  background: var(--primary-color);
  align-items: center;

  justify-content: space-between;
  /* border-bottom: 1px solid black; */
}
header h1 {
  margin-left: 50px;
  font-family: "Oswald", sans-serif;
  color: var(--text-color);

  font-weight: 400;
}
nav {
  display: flex;
  gap: 40px;
  padding: 10px;

  text-decoration: none;
  align-items: center;

  margin-right: 30px;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18pxs;
  padding: 5px;
  transition: transform 0.4s;
  text-transform: capitalize;
}
nav a:hover {
  color: aquamarine;
}
nav img {
  width: 20px;
  height: 20px;
  background-color: var(--text-color);
  padding: 8px;
  border-radius: 50%;
}
.contact_button {
  width: 120px;
  padding: 5px;
  text-align: center;
  color: aquamarine;
  border: 2px solid aquamarine;
}

.port {
  display: flex;
  align-items: center;
  gap: 0;
}
.head {
  color: aquamarine;
}
.box {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  flex-direction: column;
}
.section1 {
  background: var(--primary-color);

  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 {
  background: var(--secondary-color);
  height: 90dvh;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.section3 {
  background: var(--primary-color);
}
.section4 {
  height: 90dvh;
  background: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.section5 {
  background-color: var(--secondary-color);
  height: max-content;
}

.title {
  font-size: 3rem;

  color: var(--text-color);
  margin-left: 50px;
  text-transform: capitalize;
}
.Home {
  display: flex;
  width: 90dvw;
  align-items: center;
  justify-content: space-between;
}
.contain_1 {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100dvw;
  justify-self: center;
}
.contain_1 h1 {
  flex-direction: row;
  text-transform: uppercase;
  font-size: 5rem;
  color: var(--text-color);
}
.name {
  color: aquamarine;
  font-family: Pacifico;
}

.contain_1 h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
}
.contain_1 p {
  width: 400px;
}
.button {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid aquamarine;
  font-size: 14px;

  width: 100px;
  align-items: center;
  gap: 10px;
  padding: 10px;

  height: max-content;
  text-align: center;
  transition: transform 4s;
  color: var(--text-color);
}
.button:hover {
  background-color: aquamarine;
  color: var(--primary-color);
}

.about {
  align-items: start;
  display: flex;
  padding: 20px;
  text-align: left;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.about img {
  width: 320px;
  height: 320px;
  position: relative;
  top: -30px;
  left: -30px;
}
.img-container {
  width: 330px;
  height: 330px;
  background-color: aquamarine;
}
.contain1 {
  display: flex;
  width: 600px;
  height: 300px;
  padding: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 3px solid aquamarine;
  color: var(--text-color);
  flex-direction: column;
  gap: 20px;
}
.contain1 h1 {
  color: aquamarine;
}
.work {
  width: 800px;
  align-items: center;
  display: flex;

  flex-direction: column;
  gap: 30px;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
}
.pro {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 250px;
  transition: transform 0.2s;
  margin: 0 auto;
  margin: 30px;
}
.pro:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3);
}

.pro_contain {
  width: 230px;
  height: 90px;
  background-color: aquamarine;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  color: #10282c;
}
.pro_contain p {
  color: #10282c;
  font-size: 12px;
}
.pro1 {
  background-image: url("images/amazone.PNG");
  background-size: contain;
}
.pro2 {
  background-image: url("images/blog.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}
.pro3 {
  background-image: url("images/youtube.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}
.pro4 {
  background-image: url("images/parallax.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}
.pro5 {
  background-image: url("images/music.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}
.pro6 {
  background-image: url("images/rasturent.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}
.pro7 {
  background-image: url("images/tribute.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}
.pro8 {
  background-image: url("images/landing.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}

.service {
  align-items: center;
  display: flex;

  justify-content: center;
  gap: 30px;
}

.card {
  width: 250px;
  padding: 30px;
  height: 200px;
  display: flex;
  color: var(--text-color);
  gap: 20px;
  border: 3px solid aquamarine;
  flex-direction: column;
  text-align: left;
  background-color: var(--primary-color);
}
/* .card1 {
  background-color: #021318;
}
.card2 {
  background-color: #071d21;
}
.card3 {
  background-color: #10282c;
} */
.card h1 {
  font-size: 18px;
  margin: 1px;
  text-decoration: underline;
  color: aquamarine;
  text-transform: uppercase;
}
.contact {
  display: flex;

  width: 100dvw;
  background-image: url("Black\ and\ Blue\ Abstract\ LinkedIn\ banner.png");
  background-size: cover;
}

.contain_5 {
  display: flex;
  align-items: center;
  color: #fff;
}
.details {
  display: flex;
  align-items: start;
  background-color: aquamarine;
  justify-content: center;
  height: 50dvh;
  width: max-content;
  gap: 30px;
  flex-direction: column;
}
.thankspad {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 50dvh;

  width: 50dvw;
  gap: 30px;
  flex-direction: column;
  color: #fff;
}
.thankspad h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
span {
  width: 500px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.thankspad span {
  width: 600px;
  margin: 40px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.thankspad p {
  color: #fff;
}
.socail {
  width: 300px;
  height: 50px;
  display: flex;
  margin-top: 30px;
  gap: 30px;
  justify-content: space-between;
}
.foot {
  height: 70px;
  text-transform: capitalize;
  display: flex;
  text-align: center;
  background-color: #000;
  width: 100dvw;
  justify-content: center;
  align-items: center;
}
.foot p {
  color: #fff;
}
